* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  max-width: 400px;
  padding: 20px;
  background: #333;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.2);
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  color: #fff;
}

button {
  padding: 10px 20px;
  margin: 10px 0;
  border: 1px solid #fff;
  border-radius: 5px;
  background-color: #000;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #444;
}

.game-area {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #555;
  border-radius: 5px;
  background-color: #000;
  color: #fff;
  text-align: center;
}

.attempts {
  margin-top: 20px;
  text-align: left;
}

.attempts h2 {
  margin-bottom: 10px;
  color: #ddd;
}

ul {
  list-style: none;
}

li {
  padding: 8px;
  background: #222;
  margin-bottom: 5px;
  border-radius: 5px;
  color: #ddd;
}

.back-button-container {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 10;
}

.back-button {
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  background-color: #222;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #fff;
  cursor: pointer;
}

.back-button:hover {
  background-color: #444;
}
